.container {
  padding: 0 2rem;
  display: flex;
  height: 100vh;
}

.section_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 5rem;
}

@media (max-width: 600px) {
  .subcontainer {
    flex-direction: column;
    place-content: center;
    gap: 0
  }
}
@media (max-width: 800px) {
  .subcontainer {
    flex-direction: column;
    place-content: center;
    gap: 0
  }
}
