.container {
  padding: 0 2rem;
  display: flex;
  width: 100vw;
  height: 100vh;
}




.section_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.subcontainer {
  display: flex;
  position: relative;
  width: 100vw;
  gap: 10rem;
}


@media (max-width: 600px) {
  .container {
   flex-direction: column;
  }
  .container {
    height: 85vh;
  }
  
}
@media (max-width: 800px) {
  .container {
   flex-direction: column;
  }
  .container {
    height: 85vh;
  }
  
}